<p id="notice"><%= notice %></p>

<h1>Listing Instrumentos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instrumentos.each do |instrumento| %>
      <tr>
        <td><%= instrumento.nombre %></td>
        <td><%= link_to 'Show', instrumento %></td>
        <td><%= link_to 'Edit', edit_instrumento_path(instrumento) %></td>
        <td><%= link_to 'Destroy', instrumento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instrumento', new_instrumento_path %>
