<p id="notice"><%= notice %></p>

<h1>Listing Partichelas</h1>

<table>
  <thead>
    <tr>
      <th>Voz</th>
      <th>Instrumento</th>
      <th>Partitura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partichelas.each do |partichela| %>
      <tr>
        <td><%= partichela.voz %></td>
        <td><%= partichela.instrumento.nombre %></td>
        <td><%= partichela.partitura.titulo %></td>
        <td><%= link_to 'Show', partichela %></td>
        <td><%= link_to 'Edit', edit_partichela_path(partichela) %></td>
        <td><%= link_to 'Destroy', partichela, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partichela', new_partichela_path %>
