<div class="row">
  <div class="medium-6 columns">
    <h1>Eventos</h1>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <% @eventos.each do |evento| %>
          <tr>
            <td><%= evento.nombre %></td>
            <td><%= evento.fecha %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="medium-6 columns">
    <h1>Partituras</h1>
    <table>
      <thead>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Estilo</th>
      </thead>
      <tbody>
      <% @partituras.each do |partitura| %>
        <tr>
          <td><%= partitura.titulo %></td>
          <td><%= partitura.autor %></td>
          <td><%= partitura.estilo %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
