<%= simple_form_for(@partitura) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titulo %>
    <%= f.input :autor %>
    <%= f.input :estilo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
