<p id="notice"><%= notice %></p>

<h1>Listing Partituras</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Estilo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partituras.each do |partitura| %>
      <tr>
        <td><%= partitura.titulo %></td>
        <td><%= partitura.autor %></td>
        <td><%= partitura.estilo %></td>
        <td><%= link_to 'Show', partitura %></td>
        <td><%= link_to 'Edit', edit_partitura_path(partitura) %></td>
        <td><%= link_to 'Destroy', partitura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partitura', new_partitura_path %>
