<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @partitura.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @partitura.autor %>
</p>

<p>
  <strong>Estilo:</strong>
  <%= @partitura.estilo %>
</p>

<%= link_to 'Edit', edit_partitura_path(@partitura) %> |
<%= link_to 'Back', partituras_path %>
