<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1> <%= link_to 'Ateneo Musical Cartayero', root_path %></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <%= render 'layouts/enlaces' %>
    </ul>
  </section>
</nav
